.container{
    width: 1280px;
    margin: 0 auto;
}
.top-text{
    font-family: 'Myriad Pro', sans-serif ;
    color:  #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}
.top-text-sp{
    font-family: 'Myriad Pro',  sans-serif;
    color:  #4bcaff;
    font-size: 80px;
    font-weight: 400;

}
.buttonbar{
    background-color:  #35444f;
    width: 1280px;
    height: 69px;
    margin-top: 45px;
}
.button{
    display: inline-block;
    font-family: 'Myriad Pro', sans-serif;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    border-radius: inherit;
    margin-left: 60px;
    text-align: left;
    box-shadow: none;
    padding: 20px 15px;
}
.button:hover{
    background-color:  #222f3a;
    border: solid  #818181 1px;

}
.sidebuttons
{
    width: 344px;
    height: 399px;
    border: solid black 1px;
    background-color: white;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.sidetext{
    font-family: 'Myriad Pro', sans-serif;
    font-size: 26px;
    color: #485863;
    font-weight: 400;
    line-height: 75px;
    text-align: left;
    list-style-type: none;
}

.sidetext:hover{
    background-color:  #dbdbdb;
    text-align: center;
    color: black;


}
.grow{
    width: 885px;
    height: 529px;
    border: solid black 1px;
    overflow: hidden;
    display: inline-block;

}
.image {
    display: inline-block;
    margin-left: 20px;
    margin-top: 0;

}
.image:hover{
    height: 477px;
    width:  797px;
    transform: scale(1.1);
    transition: all 1s ease-out ;
    vertical-align: top;
}

.maintext{
    height: 350px;
    margin-top: 50px;
    margin-left: 420px;
    margin-right: 20px;

}
.text{font-family: 'Myriad Pro', sans-serif;
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.foot{
    width: 1280px;
    height: 69px;
    margin-bottom: 30px;
    background-color:  #b4b7ba;
    clear: both;

}
.footertext{
    font-family: 'Myriad Pro', sans-serif;
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;
    display: inline-block;
    margin-top: -7px;
    padding: 0 15px;
}
a.footerlink:hover{
    color:  #3181a6;
    text-decoration: underline;
}
.image:hover{
    transform: scale(1.1);
    transition: all 1s ease-out ;

}

.center{
    width: 1280px;
margin-top: 40px;
}